<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website - {{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <img src="https://31.media.tumblr.com/3a9c20e034519f6988887eded9ba50bf/tumblr_inline_n6yt8iq9tE1qmi7a3.gif">
        <p>{{welcomeMessage}}</p>
        {{> footer}}
    </body>
</html>