<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website - {{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <img src="http://01smile.com/main/wp-content/uploads/2014/03/404preview.jpeg">
        <img src="https://thumbs.gfycat.com/WillingSoreAdouri-max-1mb.gif">
        <p>{{shout errorMessage}}</p>
        {{> footer}}
    </body>
</html>